extends layout

block content

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/qrcode.js")
  script(src="/javascripts/socket.config.js")
  script(src="/javascripts/socket.host.js")
